name: Deploy Frontend Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Clone and Build
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DCISM_HOST }}
          username: ${{ secrets.DCISM_EMAIL }}
          password: ${{ secrets.DCISM_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd philnits-mock
            git reset --hard && git clean -fd && git pull origin main
            npm ci
            npm run build
            rsync -avz --delete ./dist/ ~/${{ secrets.DCISM_DOMAIN }}/